# Ignore everything
*

# ...even if they are in subdirectories
*/

# But not these files...
!.gitignore
!Dockerfile
!Dockerfile.multistage
!docker-compose.yml
!README.md

# if the files to be tracked are in subdirectories
!*/a/b/file1.txt
!*/a/b/c/*